$main_text: #1a535c;
$negative_text: #f7fff7;
$software: #4ecdc4;
$math: #23bee0;
$cooking: #6fcf97;

/* General */

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: $main_text;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Navbar */

.navbar-light {
    margin: 10px;

    .navbar-brand,
    .navbar-nav .nav-link {
        font-family: "Inter", sans-serif;
        font-style: normal;
        color: $main_text;
    }

    .navbar-brand {
        font-size: 1.5rem;
    }

    .navbar-nav .nav-link {
        font-size: 1.2rem;
    }
}

.navbar-toggler {
    border: none;
}

/* Introduction */

#introduction {
    span {
        font-size: 2.5rem;
    }

    #bubbles {
        width: inherit;
    }
}

/* Sections */

section {
    height: 52vw;
    max-height: 510px;
    max-width: 980px;
}

.block {
    position: absolute;
    height: 55vw;
    width: 53vw;
    max-width: 520px;
    max-height: 540px;
    top: 0;
    border-radius: 2vh;
    box-shadow: 0px 1vh 0.2vh rgba(0, 0, 0, 0.1);

    h1 {
        color: $negative_text;
        text-align: center;
        padding-bottom: 20px;
        font-size: 2.5rem;
    }

    img {
        width: 30vw;
        max-width: 300px;
    }

    &.left {
        left: 20px;
    }

    &.right {
        right: 20px;
    }
}

#software {
    .block,
    .btn {
        background: $software;
        z-index: 3;
    }
}

#math {
    .block,
    .btn {
        background: $math;
        z-index: 2;
    }
}
#cooking {
    .block,
    .btn {
        background: $cooking;
        z-index: 1;
    }
}

section .btn-block {
    font-size: 1.25rem;
    color: $negative_text;

    &:hover {
        color: $negative_text;
        opacity: 0.8;
    }
}

/* Separator */

#dots {
    height: 20vw;
    max-height: 200px;
    padding-top: 50px;

    img {
        width: inherit;
    }
}

/* Connect */

#connect {
    height: 32vw;
    max-height: 320px;

    p {
        font-size: 2.5rem;
        text-align: center;
        margin: 0;
    }

    img {
        width: 40px;
        padding-bottom: 6px;
        padding-right: 6px;
    }

    .btn {
        display: block;
        text-align: left;
        padding: 15px 0;
        font-size: 1.25rem;
    }
}
